<html>
<link rel="stylesheet" type="text/css" href="cover.css">
<body>
<div class="page">
<div class="page-middle">
<div class="page-middle-inner">
  <h3>Giorgio Gonnella</h3>
  <h1>RGFA library - API documentation</h1>
  <h2>Version <%=$rgfaversion%> </h2>
</div>
</div>
</div>
</body>
</html>
