#
# If you execute the following command while in the repository directory, your
# clone/fork will include this file in your git configuration (.git/config).
#
#   git config --local include.path ../.gitconfig
#
# I use this file in order to have a common configuration setting in all the
# copies of the repository I have, such as activating gpgsign.
#
# This is *not required* in order to contribute.
#
[commit]
  gpgsign = true
